.tipografia {
  font-family: "reboto", sans-serif;
  font-size: 1.2rem;
  font-weight: bold; }

.bg-black {
  background-color: black; }

/*navegacion*/
.fa-apple {
  font-size: 2rem;
  color: white; }

.fa-search {
  color: white;
  font-size: 1rem; }

/*Index*/
.titulos {
  font-size: 2rem;
  color: white; }

.titular {
  font-size: 3.5rem;
  color: darkblue; }

/*seccion Smart Tech*/
/*seccion nosotros*/
.color-text-nosotros h2 {
  color: white; }

.color-text-nosotros h4 {
  color: #02024b; }

.list-none ul {
  padding-left: 0;
  list-style: none; }

.list-none h6 {
  font-size: 1.2rem;
  margin-top: 1.5rem;
  color: #02024b;
  font-weight: bold;
  font-family: 'raleway', sans-serif;
  text-align: center; }

.list-none p {
  text-align: center;
  font-family: 'raleway', sans-serif;
  font-size: 1rem;
  margin: 0 2rem 2.5rem 2rem; }

.list-none h3 {
  color: #6c757d;
  text-align: center;
  font-family: 'jura', monospace;
  font-size: 2.5rem;
  font-weight: bold; }

/*seccion contacto*/
.fondo-contacto {
  background-color: white; }

.formulario .form-control:focus {
  color: #495057;
  background-color: white;
  border-color: #02024b;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(68, 87, 107, 0.25); }

.formulario .custom-select:focus {
  color: #495057;
  background-color: white;
  border-color: #02024b;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(68, 87, 107, 0.25); }

/*Pide de pagina*/
footer {
  font-family: 'reboto', monospace;
  font-weight: normal;
  color: white;
  background-color: #02024b; }
