/*Margenes, tipografias y fondos*/
.tipografia {
  font-family: "raleway", sans-serif;
  font-size: 1.2rem;
  font-weight: bold; }

.bg-black {
  background-color: black; }

.mtop {
  margin-top: 7rem; }

.mtop2 {
  margin-top: 5rem; }

.mbottom {
  margin-bottom: 7rem; }

.mbottom2 {
  margin-bottom: 5rem; }

.mtb {
  margin-top: 7rem;
  margin-bottom: 7rem; }

.mtb2 {
  margin-top: 4rem;
  margin-bottom: 4rem; }

/*Iconos*/
.fa-apple {
  font-size: 2rem;
  color: white; }

.fa-apple:hover {
  color: white;
  transform: scale(1.2, 1.2); }

.fa-search {
  color: white;
  font-size: 1.2rem; }

.fa-facebook-square {
  color: white;
  font-size: 2rem; }

.fa-facebook-square:hover {
  color: white;
  transform: scale(1.3, 1.3); }

.fa-instagram {
  color: white;
  font-size: 2rem; }

.fa-instagram:hover {
  color: white;
  transform: scale(1.3, 1.3); }

.fa-envelope {
  color: white;
  font-size: 2rem; }

.fa-envelope:hover {
  color: white;
  transform: scale(1.3, 1.3); }

/*Index*/
.titulos {
  font-size: 2rem;
  color: white; }

.titular {
  font-size: 3.5rem;
  color: darkblue; }

.btn-color {
  color: white;
  background-color: darkblue;
  font-family: 'jura'sans-serif;
  font-size: 1.5rem;
  letter-spacing: .15rem;
  font-weight: bold;
  border: 1px solid darkblue;
  border-radius: 15px;
  padding: .5rem;
  margin-top: 2rem; }

.btn-color:hover {
  color: darkblue;
  background-color: white; }

/*seccion nosotros*/
.color-text-nosotros h2 {
  color: white; }

.color-text-nosotros h3 {
  font-weight: bold;
  color: darkblue;
  font-family: 'jura', sans-serif; }

.list-none ul {
  padding-left: 0;
  list-style: none; }

.list-none h6 {
  font-size: 1.2rem;
  margin-top: 1.5rem;
  color: #02024b;
  font-weight: bold;
  font-family: 'raleway', sans-serif;
  text-align: center; }

.list-none p {
  text-align: center;
  font-family: 'raleway', sans-serif;
  font-size: 1rem;
  margin: 0 2rem 2.5rem 2rem; }

.list-none h3 {
  color: #6c757d;
  text-align: center;
  font-family: 'jura', monospace;
  font-size: 2.5rem;
  font-weight: bold; }

/*seccion contacto*/
.fondo-contacto {
  background-color: white; }

.formulario .form-control:focus {
  color: #495057;
  background-color: white;
  border-color: #02024b;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(68, 87, 107, 0.25); }

.formulario .custom-select:focus {
  color: #495057;
  background-color: white;
  border-color: #02024b;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(68, 87, 107, 0.25); }

/*Pide de pagina*/
.footer-style {
  font-size: 1.2rem;
  font-family: 'jura', monospace;
  font-weight: normal;
  color: white;
  margin-top: 17rem; }
  .footer-style img {
    max-width: 50%;
    height: auto; }
