$primary: white;
$secondary: blue;
$especial: lightblue;

/*Index*/
.titulos{
	article > *{
		color: $primary;
		text-align: center;
		font-family: 'reboto', sans-serif;
		font-weight: bold;
		padding: 1rem;
	}
}

.logo{
	width:10rem;
}

/*fondos*/
body{
	background-color: black;
}

.fondo-products{
	background-color: black;
}

/*carousel seccion productos*/

.productos{
	h2{
	color: $primary;
	padding-top: 1rem;
	padding-bottom: 1rem;
	text-align: center;
	}
	img{
	width:40rem;
	height:auto;
	transform: translateX(15rem);
	}
	ul{
		list-style: none;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
	}
	li{
		color: $secondary;
		font-size: 1.2rem;
		font-family: "Jura", monospace;
		text-transform: uppercase;
		font-weight: bold;
		background-color: white;
		display: inline-block;
		margin-top: .5rem;
		width: 25rem;
		height: auto;
		text-align: center;
	}
}

#carousel-itech{
	background-color: silver;
	border-radius: 50px;
	margin-top: 2rem;
	margin-bottom: 2rem;
	ol > li{	
		border: 0px;
		border-radius: 100%;
		width: 8px;
		height: 8px;
	}
	li.active{
		background-color: blue;
		border: 0px;
		border-radius: 100%;
		width: 8px;
		height: 8px;
	}
	img{
		width: 10rem;
	}
}

@media only screen and (max-width:767px){
	.carousel-1{
		display: none;
	}
}


.carousel-2{
	display: none;
	width: 18rem;
	height: auto;
	background-color: silver;
	border-radius: 50px;
	margin-top: 2rem;
	margin-bottom: 2rem;
	ol > li{	
		border: 0px;
		border-radius: 100%;
		width: 8px;
		height: 8px;
	}
	li.active{
		background-color: blue;
		border: 0px;
		border-radius: 100%;
		width: 8px;
		height: 8px;
	}
	img{
		width: 17rem;
	}
}

@media only screen and (max-width:766px){
	.carousel-2{
		display: block;
	}
}
/*seccion conocenos*/
.seccion-conocenos{
	article{
		display: flex;
		justify-content: center;
		height: auto;
		width: 100%;
		margin-top: 2rem;
		margin-bottom: 2rem;
		}
		video{
			max-width: 30%;
			height: auto;
			border-radius: 20px;
	}
	h3, p{
		color: $primary;
		font-size: 1.5rem;
		font-family: 'Jura'sans-serif;
		text-align: center;
		margin-top: 1rem;
	}
}

.acordion{
	margin-bottom: 2rem;
	margin-top: 2rem;
}

/*seccion contacto*/

.contacto-1{
	display: flex;
	flex-direction: column;
	align-items: center;
	h3{
		margin-top: 1rem;
		margin-bottom: 2rem;
		font-size: 2rem;
		font-family: 'jura', sans-serif;
		font-weight: bold;
		color: white;
		border-radius: 25px;
		border: 1px solid;
		padding: .5rem 1rem .5rem 1rem;
	}
	form{
		border: 1px solid;
		border-radius: 30px;
		color:white;
		padding:1rem;
		margin-bottom: 0;
	}
	button{
		border-radius: 20px;
		padding: .3rem;
	}
}

header, .contacto-2{
	background-color: black;
}

.fondo-contacto{
	background-color:blue;
}
/*Pide de pagina*/
footer{
	font-family: 'Raleway', monospace;
	font-weight: normal;
	color: white;
	background-color: blue;
}

