$primary: white;
$secondary: rgb(2, 2, 75);
$especial: #6c757d;

.tipografia{
	font-family: "reboto", sans-serif;
	font-size: 1.2rem;
	font-weight: bold;
}

.bg-black{
	background-color: black;
}

/*navegacion*/
.fa-apple{
	font-size: 2rem;
	color:$primary;
}

.fa-search{
	color: $primary;
	font-size: 1rem;
}


/*Index*/
.titulos{
	font-size: 2rem;
	color: $primary;
}

.titular{
	font-size:3.5rem;
	color: darkblue;
}

/*seccion Smart Tech*/


/*seccion nosotros*/
.color-text-nosotros{
	h2{
		color:$primary;
	}
	h4{
		color: $secondary;
	}
}
.list-none{
	ul{
	padding-left: 0;
	list-style: none;
	}
	h6{
		font-size: 1.2rem;
		margin-top: 1.5rem;
		color: $secondary;
		font-weight: bold;
		font-family: 'raleway', sans-serif;
		text-align: center;
	}
	p{
		text-align: center;
		font-family: 'raleway', sans-serif;
		font-size: 1rem;
		margin: 0 2rem 2.5rem 2rem;
	}
	h3{
		color:$especial;
		text-align: center;
		font-family: 'jura', monospace;
		font-size: 2.5rem;
		font-weight: bold;
	}
	
}
/*seccion contacto*/
.fondo-contacto{
	background-color: $primary;
}

.formulario{
	.form-control:focus {
		color: #495057;
		background-color: $primary;
		border-color:$secondary;
		outline: 0;
		box-shadow: 0 0 0 0.2rem rgba(68, 87, 107, 0.25);
	}
	.custom-select:focus{
		color: #495057;
		background-color: $primary;
		border-color:$secondary;
		outline: 0;
		box-shadow: 0 0 0 0.2rem rgba(68, 87, 107, 0.25);
	}	
}
/*Pide de pagina*/
footer{
	font-family: 'reboto', monospace;
	font-weight: normal;
	color: white;
	background-color: $secondary;
}