$primary: white;
$secondary: rgb(2, 2, 75);
$especial: #6c757d;

/*Margenes, tipografias y fondos*/
.tipografia{
	font-family: "raleway", sans-serif;
	font-size: 1.2rem;
	font-weight: bold;
}

.bg-black{
	background-color: black;
}

.mtop{
	margin-top: 7rem;
}

.mtop2{
	margin-top: 5rem;
}

.mbottom{
	margin-bottom: 7rem;
}

.mbottom2{
	margin-bottom: 5rem;
}
.mtb{
	margin-top: 7rem;
	margin-bottom: 7rem;
}

.mtb2{
	margin-top: 4rem;
	margin-bottom: 4rem;
}
/*Iconos*/
.fa-apple{
	font-size: 2rem;
	color:$primary;
}
.fa-apple:hover{
	color: $primary;
	transform: scale(1.2,1.2);
}


.fa-search{
	color: $primary;
	font-size: 1.2rem;
}


.fa-facebook-square{
	color: $primary;
	font-size: 2rem;
}
.fa-facebook-square:hover{
	color:$primary;
	transform: scale(1.3,1.3);
}


.fa-instagram{
	color: $primary;
	font-size: 2rem;
}
.fa-instagram:hover{
	color: $primary;
	transform: scale(1.3,1.3);
}


.fa-envelope{
	color: $primary;
	font-size: 2rem;
}
.fa-envelope:hover{
	color: $primary;
	transform: scale(1.3,1.3);
}

/*Index*/
.titulos{
	font-size: 2rem;
	color: $primary;
}

.titular{
	font-size:3.5rem;
	color: darkblue;
}

.btn-color{
	color:$primary;
	background-color: darkblue;
	font-family: 'jura'sans-serif;
	font-size: 1.5rem;
	letter-spacing: .15rem;
	font-weight: bold;
	border: 1px solid darkblue;
	border-radius: 15px;
	padding: .5rem;
	margin-top: 2rem;
}

.btn-color:hover{
	color:darkblue;
	background-color:$primary ;
}
/*seccion nosotros*/
.color-text-nosotros{
	h2{
		color:$primary;
	}
	h3{
		font-weight: bold;
		color: darkblue;
		font-family: 'jura', sans-serif;
	}
}
.list-none{
	ul{
	padding-left: 0;
	list-style: none;
	}
	h6{
		font-size: 1.2rem;
		margin-top: 1.5rem;
		color: $secondary;
		font-weight: bold;
		font-family: 'raleway', sans-serif;
		text-align: center;
	}
	p{
		text-align: center;
		font-family: 'raleway', sans-serif;
		font-size: 1rem;
		margin: 0 2rem 2.5rem 2rem;
	}
	h3{
		color:$especial;
		text-align: center;
		font-family: 'jura', monospace;
		font-size: 2.5rem;
		font-weight: bold;
	}
	
}
/*seccion contacto*/
.fondo-contacto{
	background-color: $primary;
}

.formulario{
	.form-control:focus {
		color: #495057;
		background-color: $primary;
		border-color:$secondary;
		outline: 0;
		box-shadow: 0 0 0 0.2rem rgba(68, 87, 107, 0.25);
	}
	.custom-select:focus{
		color: #495057;
		background-color: $primary;
		border-color:$secondary;
		outline: 0;
		box-shadow: 0 0 0 0.2rem rgba(68, 87, 107, 0.25);
	}	
}
/*Pide de pagina*/
.footer-style{
	font-size: 1.2rem;
	font-family: 'jura', monospace;
	font-weight: normal;
	color: white;
	margin-top: 15rem;
	img{
		max-width: 50%;
		height: auto;
	}
}