$primary: white;
$secondary: blue;
$especial: lightblue;
.tipografia{
	font-family: "reboto", sans-serif;
	font-size: 1.2rem;
}

.bg-black{
	background-color: black;
}


/*navegacion*/
.fa-apple{
	font-size: 2rem;
	color: white;
}

.fa-search{
	color: white;
	font-size: 1rem;
}


/*Index*/
.titulos{
	font-size: 2rem;
	color: $primary;
}

.titular{
	font-size:3.5rem;
	color: darkblue;
}

.fondo{
	background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("..//imagenes-itech/logo-2.png");
    background-size: 430px 430px;
	background-repeat: no-repeat;
	background-position: center;
}

/*carousel seccion productos*/
.productos{
	h2{
	color: $primary;
	padding-top: 1rem;
	padding-bottom: 1rem;
	text-align: center;
	}
	img{
	width:40rem;
	height:auto;
	transform: translateX(15rem);
	}
	ul{
		list-style: none;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
	}
	li{
		color: $secondary;
		font-size: 1.2rem;
		font-family: "reboto", monospace;
		text-transform: uppercase;
		font-weight: bold;
		background-color: white;
		display: inline-block;
		margin-top: .5rem;
		width: 25rem;
		height: auto;
		text-align: center;
	}
}

#carousel-itech{
	background-color: silver;
	border-radius: 50px;
	margin-top: 2rem;
	margin-bottom: 2rem;
	ol > li{	
		border: 0px;
		border-radius: 100%;
		width: 8px;
		height: 8px;
	}
	li.active{
		background-color: blue;
		border: 0px;
		border-radius: 100%;
		width: 8px;
		height: 8px;
	}
	img{
		width: 10rem;
	}
}

@media only screen and (max-width:767px){
	.carousel-1{
		display: none;
	}
}


.carousel-2{
	display: none;
	width: 18rem;
	height: auto;
	background-color: silver;
	border-radius: 50px;
	margin-top: 2rem;
	margin-bottom: 2rem;
	ol > li{	
		border: 0px;
		border-radius: 100%;
		width: 8px;
		height: 8px;
	}
	li.active{
		background-color: blue;
		border: 0px;
		border-radius: 100%;
		width: 8px;
		height: 8px;
	}
	img{
		width: 17rem;
	}
}

@media only screen and (max-width:766px){
	.carousel-2{
		display: block;
	}
}
/*seccion conocenos*/
.seccion-conocenos{
	article{
		display: flex;
		justify-content: center;
		height: auto;
		width: 100%;
		margin-top: 2rem;
		margin-bottom: 2rem;
		}
		video{
			max-width: 30%;
			height: auto;
			border-radius: 20px;
	}
	h3, p{
		color: $primary;
		font-size: 1.5rem;
		font-family: 'reboto'sans-serif;
		text-align: center;
		margin-top: 1rem;
	}
}

.acordion{
	margin-bottom: 2rem;
	margin-top: 2rem;
}

/*seccion contacto*/
.fondo-contacto{
	background-color: $primary;
}

.formulario{
	.form-control:focus {
		color: #495057;
		background-color: #fff;
		border-color:rgb(2, 2, 75);
		outline: 0;
		box-shadow: 0 0 0 0.2rem rgba(68, 87, 107, 0.25);
	}
	.custom-select:focus{
		color: #495057;
		background-color: #fff;
		border-color:rgb(2, 2, 75);
		outline: 0;
		box-shadow: 0 0 0 0.2rem rgba(68, 87, 107, 0.25);
	}	
}
/*Pide de pagina*/
footer{
	font-family: 'reboto', monospace;
	font-weight: normal;
	color: white;
	background-color: rgb(2, 2, 75);
}